<body>
  <header>
    <!--add link later-->
    <a href="" class="logo">
      <img src="" alt="Logo">
    </a>
    <div class="search-bar">
      <!--add search bar later-->
      <h3>Search</h3>
    </div>
  </header>

  <div class="page">

    <aside class="nav-bar" id="nav-bar">
      <ul class="nav-icons">
        <li class="nav-item">
          <!--Change to link later-->
          <img src="">
          <h3>Profile</h3>
        </li>
        <li class="nav-item">
          <!--add link later-->
          <img src="">
          <h3>Timeline</h3>
        </li>
        <li class="nav-item">
          <!--Change to link later-->
          <img src="">
          <h3>Chat</h3>
        </li>
      </ul>
    </aside>

    <div class="timeline-container"> 
      <h1> Your Timeline </h1>

      <ol class="timeline" id="timeline">
        <% @events.each do |event| %>
          <div class = "clear"></div>
          <li class="timeline-event" id="timeline-event<%= event.id %>">
            <div class="date" id="date<%= event.id %>"><%= event.date %></div>
            <div class="box">
              <p class="title"><%= event.title %></p>
              <%= link_to(image_tag("trash-icon.svg", :class => "icon trash"), event_path(event),
              method: :delete, data: { confirm: 'Are you sure?' }) %>
              <%= image_tag("image-icon.svg", :class => "icon image" ) %>
              <%= image_tag("text-icon.svg", :class => "icon text" ) %>
              <%= image_tag("audio-icon.svg", :class => "icon audio" ) %>
              <a href=<%=new_event_contribution_path(event)%>>
                <%= image_tag("new-contribution-icon.svg", :class => "icon new-contribution" ) %>
              </a>
            </div>
            <div class="collapsible collapsed"  id="collapsible<%= event.id %>">
              <%=event.contributions.each do |contribution|%>
                <p>
                  <strong>Contribution <%= contribution.id %>: </strong>
                  <%= contribution.text%>
                </p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>

      <a class="new-event-button" href="<%=new_event_path%>">Create a new event</a>
      
    </div>

  </div>

</body>
<%= javascript_pack_tag 'events_index'%>