<body>
  <header>
    <!--add link later-->
    <a href="" class="logo">
      <img src="" alt="Logo">
    </a>
    <div class="search-bar">
      <!--add search bar later-->
      <h3>Search</h3>
    </div>
  </header>

  <div class="page">

    <aside class="nav-bar" id="nav-bar">
      <ul class="nav-icons">
        <li class="nav-item">
          <!--Change to link later-->
          <h3>Profile</h3>
        </li>
        <li class="nav-item">
          <!--add link later-->
          <a href="">Timeline</a>
        </li>
        <li class="nav-item">
          <!--Change to link later-->
          <h3>Chat</h3>
        </li>
      </ul>
    </aside>

    <div class="timeline-container"> 
      <h1> Your Timeline </h1>

      <ol class="timeline" id="timeline">
        <% @events.each do |event| %>
          <div class = "clear"></div>
          <li class="timeline-event" id="timeline-event<%= event.id %>">
            <div class="date" id="date<%= event.id %>"><%= event.date %></div>
            <div class="box" id="box<%= event.id %>">
              <div class="title" id="title<%= event.id %>"><%= event.title %></div>
              <img class="icon image" src="app/assets/images/image-icon.svg">
              <%= image_tag "image-icon.svg"%>
              <img class="icon text" src="app/assets/images/text-icon.svg">
              <img class="icon audio" src="app/assets/images/audio-icon.svg">
              <img class="icon new-contribution" src="app/assets/images/new-contribution-icon.svg">
            </div>
            <div class="collapsible collapsed"  id="collapsible<%= event.id %>">Lorem ipsum</div>
          </li>
        <% end %>
      </ol>

      <a class="new-event-button" href="<%=new_event_path%>">Create a new event</a>
      
    </div>

  </div>

</body>
<%= javascript_pack_tag 'events_index'%>