<h1> New Event </h1>

<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :date %><br>
    <%= form.date_select(:date, :order => [:month, :day, :year],
    :start_year => Time.current.year - 100, :end_year => Time.current.year) %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>